*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.main{
    padding: 50px 15.2%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #29455b;
}

.navlist {
    background-color: #171a21;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6rem;
    grid-template-columns: 1fr 1fr;
}

.navlist img{
    width: 200px;
    margin-left: 10%;
}

ul{
    gap: 20px;
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    padding-inline: 0%;
    padding: 0 12rem;
    font-family: "Motiva Sans", Sans-serif;
}

.section_nav .navlist ul li{
    color: #fff;
}

.section_nav .navlist a{
    text-decoration: none;
    color: #fff;
}

.section_nav .navlist h3{
    padding-left: 1rem;
    font-family: "Motiva Sans", Sans-serif;
    font-size: 12px;
    text-decoration: none;
}

.section_nav .navlist button{
    border-radius: 0px;
    padding: 4px 14px;
    background-color: #5c7e10;
    border: none;
    color: #fff;
    text-decoration: none;
    font-family: "Motiva Sans", Sans-serif;
    cursor: pointer;
}

.section_header{
    background-color: #1b2838;
}

.section_header video{
    max-width: 100%;
}

.section_product{
    background-color: #1b2838;
}

.text_1{
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 2rem;
    line-height: 20px;
    font-weight: 600;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 800px;
}

.text_1 h1{
    font-family: "Motiva Sans", Sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    color: #fff;
}

.section_product .main .product img{
    height: 200px;
    width: 300px;
    object-fit: cover;
    text-align: center;
    border-radius: 6px;
}

.section_product .main .product img:hover{
    /* border: #fff 1px solid; */
    background: #eee;
    box-shadow: rgba(0, 0, 0, 0.15) 5.95px 5.95px 3.6px;
}

.section_product .main .product h3{
    text-align: center;
}

.section_product .main .product h4{
    text-align: center;
}

.section_product .main .product{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px;
}

.section_product .main .product h3{
    color: #fff;
    font-family: "Motiva Sans", Sans-serif;
}

.section_product .main .product h4{
    color: #fff;
    font-family: "Motiva Sans", Sans-serif;
}


.end{
    background-color: #171a21;
    padding: 3% 0;
}

.end_div{
    padding: 0 14%;
}

.end .end_div h1{
    color: #8098a0;
    font-size: 14px;
    font-weight: 800;
    font-family: "Motiva Sans", Sans-serif;
}

.last_end{
    padding: 1% 0;
    background-color: #1b2838;
}
